
	

.box{

	border: 1px solid red;
	width: 200px;
	height: 300px;
	margin-left: 20px;
	margin-top: 90px;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px red;
}
.box:hover{

	border: 1px solid red;
	width: 210px;
	height: 310px;
	margin-left: 20px;
	margin-top: 90px;
	float: left;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px red;
}
.img{
	width: 200px;
	height: 300px;

}
.img:hover{
	width: 210px;
	height: 310px;

}

